*{
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
nav{
    background-color: rebeccapurple;
    position: sticky;
    text-align: center;
    line-height: 75px;
    z-index: 2;
    cursor: pointer;
    top: 0;
}
nav a{
    color : #FFF;
    font-family: 'Oswald', sans-serif; 
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 12px 12px;
    border-radius: 10px;
}
nav a:hover{
    color: white;
    background-color: red;
    border-radius: 10px;
    opacity: 0.81;
    transition-duration: 750ms;
    transition-timing-function: all;
}
.gorsel{
    height: 100%;
    background-color: lightgreen;
    background-size: cover;
    background-attachment: none;
}
#gor1{
/*    background-image: url(test.png); */
    margin: 0px;
    width: 100%;
    height: 300%;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: anim 15s ease-in infinite;
    animation-direction: alternate;
}

@keyframes anim {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
#gor2{
    background-image: url(test.png);
}
#gor3{
    background-image: url(test.png);
}

.anaSayfa{
    position: absolute;
    float: left;
}
.anaYazi{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 250px;
    z-index: 1;
}
.anaYazi h1{
    font-family: 'Rampart One', cursive;
    font-size: 75px;
}
.anaYazi p{
    font-family: 'Rampart One', cursive;
    font-size: 75px;
}
.me p{
    width: fit-content;
    margin-left: 24%;
    margin-top: -5px;
    color: black;
    font-size: 18px;
}
.me h1{
    font-size: 20px;
    margin-left: 25%;
}
.me h2{
    font-size: 20px;
    margin-left: 50%;
    margin-top: -75px;
}
.me h3{
    font-size: 20px;
    margin-left: 75%;
    margin-top: -31.5px;
}
.me .cont1{
    font-size: 15px;
    margin-left: 75%;
    margin-top: -10px;
}
.me .cont2{
    font-size: 15px;
    margin-left: 75%;
    margin-top: -20px;
}
.me .address{
    font-size: 15px;
    margin-left: 50%;
    margin-top: -57.5px;
}
footer{
    background-color: darkslategray;
    height: 100px;
}
.ustbar{
    background-color: darkslategray;
    height: 25px;
}
.anaYazi p.normal{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-top: 50%;
    text-align: center;
}
